.trnasform {
    min-width: 1024px;
    width:1920px;
    height: 100%;

    .box {
        background: white;
        border-radius: 30px;
        width: 150px;
        height: 150px;
        position: relative;
        top: calc(50% - 150px / 2);
        left: calc(50% - 150px / 2);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .progress-icon {
        width: 80px;
        height: 80px;
    }
}